* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:black;
}

header {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}


header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

nav h1 a{
  color: #3e8ed0;
  text-decoration: none;
  display: inline-flex;
  margin-left: 50px;
}

nav h1 a:visited {
  color: #3e8ed0;
}

nav h1 a:hover  {
  color: #3e8ed0;
}

nav h1 a:active {
  text-decoration: underline;
}

main {
  background: #13293d;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  display:flex;
  justify-content: center;
  background-color: black;
}

.card-characters {
  width: 100%;
  padding: 0px 20%;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  display:flex;
  justify-content: left;
  background-color: black;
}
.subcard {
  margin:0;
  flex-direction: column;
  align-items: center;
  font-family:sans-serif;
  width: 50%;
  font-size:50px;
}

.about-character{
  font-size: xx-large;
  color:#3e8ed0;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
}

img {
  padding: 50px;
}

#searchInput {
  min-width:350px;
  font-size:x-large;
}

#searchBtn {
  margin: 0 auto;
  text-align:center;
  width:100%;
  font-weight:bold;
  font-size:x-large;
  height:60px;
}

.tile{
  margin:15px;
  /* transform: rotate(2deg); */
  padding:5px 10px;
  /* float:right; */
  border:3px solid #222;
  box-shadow:3px 3px 0 #222;
  /* border-radius:98% 98% 98% 98%; */
  justify-content: space-between;
  display:block;
  text-align: center;
  grid-gap: 20px;
}

.inline {
  display: inline-flex;
}
  
.banner{
  width: 100%;
  height: 100%; 
  object-fit: contain;
}



@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .card{
    flex-direction: column;
  }
  #searchBtn {
    margin: 0;
    width: 100px;
  }
  .inline {
    flex-direction: column;
  }
}

@media screen and (max-width: 356px) {
  header h1 {
    font-size: 38px;
  }
}