* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:black;
}

header {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}


header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

li a {
  color: #485fc7;
  text-decoration: none;
}

li a:visited {
  color: #485fc7;
}

li a:hover  {
  color: #485fc7;
}

li a:active {
  font-size: 18px;
  text-decoration: underline;
}

main {
  background: #13293d;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  display:flex;
  justify-content: center;
  background-color: black;
}

.subcard {
  margin:0;
  flex-direction: column;
  align-items: center;
  font-family:sans-serif;
  width: 50%;
  font-size:50px;
}

img {
  padding: 50px;
}

#searchInput {
  width: 800px;
  font-size:x-large;
}

#searchBtn {
  margin: 0 auto;
  text-align:center;
  width:195px;
  font-weight:bold;
  font-size:xx-large;
  height:60px;
}



.tile{
  margin:15px;
  /* transform: rotate(2deg); */
  padding:5px 10px;
  /* float:right; */
  border:3px solid #222;
  box-shadow:3px 3px 0 #222;
  /* border-radius:98% 98% 98% 98%; */
  justify-content: space-between;
  display:block;
  text-align: center;
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

.inline {
display: inline;}

.banner{
  width: 100%;
    height: 100%; 
    object-fit: contain;
}