* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}


header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

li a {
  color: #ff361c;
  text-decoration: none;
}

li a:visited {
  color: #ff361c;
}

li a:hover  {
  color: #ea2308;
}

li a:active {
  font-size: 18px;
  text-decoration: underline;
}

main {
  background: #13293d;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

img {
  
  padding: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
  background:#fff;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}
.box{
  margin:25px;
  width:250px;
  height:250px;
  background:#fff;
  border: solid black;
  border-color: black;
  float:left; 
}

.box1{
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.box2{
  width:350px;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.box3{
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
}

.oddboxinner{
  margin:15px;
  transform: rotate(-2deg);
}
.evenboxinner{
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#ddd;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
}

#searchInput {
  border:#BA4A00 solid;
  border-width: .2em;
  border-radius: .7em 0 0 .7em;
  padding: .2em .2em .2em .5em;
  width: 450px;
  font-size:x-large;
}

#searchBtn {
  margin: 0 auto;
  text-align:center;
  width:195px;
  font-weight:bold;
  font-size:xx-large;
  border-radius:10%;
  height:60px;

}

.tile{
  margin:15px;
  /* transform: rotate(2deg); */
  padding:5px 10px;
  /* float:right; */
  border:3px solid #222;
  box-shadow:3px 3px 0 #222;
  /* border-radius:98% 98% 98% 98%; */
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

.inline {
display: inline;}